.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 40px 60px;
}

.heroContent {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  margin-bottom: 60px;
}

.heroTitle {
font-family: "Roboto", monospace;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #000;
  padding: 6px;
}

.heroBadge {
  display: flex;
  height: 120px;
  display: flex;
  border-radius: 5px;
  gap: 10px;
font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  background-color: rgba(188, 236, 48, 1);
  color: #000;
  padding: 15px;
  position: relative;
  text-align: start;
  align-items: center;
}

.heroBadge::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 103px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 19px solid transparent;
  border-top: 11px solid rgba(188, 236, 48, 1);
}

.backToTop {
  display: block;
  margin: 40px auto 60px;
  background-color: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  border: none;
  padding: 14px 36px;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backToTop:hover {
  background-color: #6fd600;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(127, 255, 0, 0.3);
}

@media (max-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .heroTitle {
       font-weight: 500;
    font-size: 48px;
    line-height: 80%;
    letter-spacing: 1px;
  }
    .heroBadge {
   font-size: 24px;
  }
}



@media (max-width: 768px) {

  .hero {
    padding: 20px;
  }
  .heroContent {
    flex-direction: column;
  }
  .heroTitle {
    font-size: 32px;
    display: contents;
  }
  .heroBadge {
    display: none;
  }
  .cardsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .cardImage {
    height: 280px;
  } 

.backToTop {
    position: relative;
    left: 50%;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 0;
}
}

@media (max-width: 769px) and (min-width: 528px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cardAddBtn {
    top: 3%;
    right: 3%;
  }
}

@media (max-width: 450px) {
  .heroTitle {
    font-weight: 500;
    font-size: 22px;
  }

  .heroContent {
    margin-bottom: 30px;
  }

  .hero {
    padding: 20px;
  }

  .cardContent {
    padding: 18px;
  }

  .cardTitle {
    margin-bottom: 10px;
  }

  .cardInfo {
        gap: 6px;
    margin-bottom: 6px;
  }

  .cardGrid {
    margin-bottom: 20px;
  }

  .loginBtn {
        width: 83px;
}
}